.friendList {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.friendItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
  margin: 5px;
}

.avatar {
  margin: auto;
}

.name {
  font-size: 1.2em;
  line-height: 2em;
}

.statusOnline {
  color: green;
  font-size: 10px;
  line-height: 1em;
}

.statusOffline {
  color: red;
  font-size: 10px;
  line-height: 1em;
}
