.transactionHistory {
  width: 50%;
  border-collapse: collapse;
  margin: auto;
}

.transactionHistory th,
.transactionHistory td {
  padding: 5px;
  text-align: center;
  border: 1px solid black;
  text-transform: capitalize;
}

.transactionHistory th {
  color: white;
  background-color: black;
}

.transactionHistory tr:nth-child(even) {
  background-color: #d6d6d6;
}
